<div>
  <p>
    The code repository is <a href="{{repoUrl}}">here</a>.
  </p>
</div>
<div>
  <label>Search:</label>
  <input #input autofocus placeholder="Film name"/>
</div>
<div class="result">
  <ul>
    <li *ngFor="let item of $films | async as filmsArr" id="{{item.id}}">
      <span [innerHTML]="item.image_code | sanitize"></span>
      <span>{{item.year}}</span>
      <h6>{{item.link_code}}</h6>
      <span>{{item.description}}</span>
      <span class="type">{{item.obj_type}}</span>
      <!--{{item.value}}-->
      <!--{{item.label}}-->
    </li>
  </ul>
</div>
