<header>
  <h1>{{environment.config.description}}</h1>
  <p>The code repository is <a [href]="environment.repoUrl">here</a>.</p>
</header>


<main>

  <section>
    <label>Search: </label>
    <input #input autofocus placeholder="Film name"/>
  </section>

  <section *ngIf="($films | async) as films">
    <div *ngIf="films.length; else noMatches">
      <app-film-list [films]="films"></app-film-list>
    </div>

    <ng-template #noMatches>
      <p>No matches for "{{searchString}}".</p>
    </ng-template>
  </section>

</main>


<footer>
  <hr>
  <a [href]="environment.authorUrl">{{environment.config.author}}</a>
</footer>
