div.picture {
  float: left;
  margin-right: 10px;
}

div.description {
  float: left;
  width: 90%;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

br {
  clear: both;
}

.type {
  color: #aeaeb0;
}

.bold {
  font-weight: bold;
}
